$bg: #282828;
$fg: #ebdbb2;
$red: #fb4934;
$green: #b8bb26;
$yellow: #fabd2f;
$blue: #83a598;
$purple: #d3869b;
$aqua: #8ec07c;
$orange: #fe8019;
$gray: #928374;
$active_border: #a89984;
$inactive_border: #515151;

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
}

.Bar {
    background-color: transparent;
    color: $fg;

    .Workspaces {
        background-color: $bg;
        margin: 5px 0 5px 5px;
        
        .workspace-button {
            padding: 0 8px;
            color: $fg;
            border-radius: 0;
            background: none;
            border: none;
            box-shadow: none;

            &.active {
                background-color: $active_border;
                color: $bg;
            }

            &.occupied {
                color: $yellow;
            }
        }
    }

    .Media {
        background-color: $bg;
        margin: 5px 0;
        padding: 0 32px;
    }

    .SysTray {
        background-color: $bg;
        margin: 5px 5px 5px 0;
        padding: 0 10px;

        .Clock {
            font-weight: bold;
        }
    }
}

.WallpaperPicker {
    background-color: rgba(40, 40, 40, 0.9);
    border: 1px solid $active_border;
    padding: 20px;

    .wallpaper-card {
        background-color: $bg;
        border: 1px solid $inactive_border;
        padding: 5px;
        
        &:hover {
            border-color: $active_border;
        }

        &.selected {
            border-color: $green;
        }

        image {
            border-radius: 4px;
        }
    }
}
